html,
body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #0e0c15;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/bot.png'), url('./images/background.png');
  background-size: 50%, 100%;
  background-repeat: no-repeat, repeat;
  background-position: bottom right, 0 0;
}